/* COMMON */
*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size:inherit;
  scroll-behavior: smooth;
}
:root{
    font-size: 62.5%;
    box-sizing: inherit;
    font-family: 'JetBrains Mono', monospace;
    --secondaryFont:
    'Asap', sans-serif;
    --bgLight: #FFF;
    --textLight: #121212;
    --cardBgDark: #FAF4E8;

    --bgDark: #121212;
    --textDark: #FAF4E8;
    --cardBgDark: #1E1E1E;
    --cardBorder:#474747;

    --javascript: #F1E05A;
    --r-language: #3572A5;
    --python: #41AA46;
    --css: #563D7C;
    --go: #00ADD8;
    --html: #E44D26;
    background-color: var(--bgDark);
    color: var(--textDark);
}
header{
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
main{
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 